@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

html {
  font-size: 100%;
}
// VARIABLES

$font-weight--medium: 600;
$font-weight--bold: 800;

$color-background--body: hsl(47, 88%, 63%);
$color-background--card: hsl(0, 0%, 100%);
$color--accent: hsl(47, 88%, 63%);

$color-font--paragraph: hsl(0, 0%, 50%);
$color-font--heading: hsl(0, 0%, 7%);

//BASE

body {
  background-color: $color-background--body;
  height: 100vh;
  align-items: center !important;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card {
  background-color: $color-background--card;
  width: clamp(350px, 50%, 95%);
  max-width: 400px;
}

//MOBILE
